.bandoneon {
  padding: 0;
  list-style: none;

  li + li {
    border-top: solid 1px transparent;
  }

  .content {
    display: none;
    margin: 0;
    padding: 1.5em;
    background: #eee;
  }

  li.is-active .content {
    display: block;
  }

  .trigger {
    margin: 0;
    padding: 1.5em 0.5em;
    color: #fff;
    background: #888;
    cursor: pointer;
  }

  .trigger:hover {
    background: #999;
  }
}
